<html>
<head>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.1"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/bulma@0.8.2/css/bulma.css">

</head>
<body>
<div id="app" class="container is-fluid">
    <div class="columns">
    <div class="column is-2">
        <div class="panel is-primary" style="margin: 15px">
            <p class="panel-heading">
                User input
            </p>
            <form class="panel-block">
                <div class="field">
                    <label for="phone" class="label">Phone number:</label>
                    <div class="control">
                        <input class="input" id="phone" v-model="phone" @keyup="resolveCountry" type="text"
                               :class="{'is-danger': error.length > 0}"
                               placeholder="Phone number"/>
                    </div>
                    <div class="has-text-danger">
                        {{ error }}
                    </div>
                </div>

            </form>
            <div class="panel-block">
                <ol class="control" type="1" style="margin-left: 15px;">
                    <li v-for="country in countries" :key="country.code">{{country.countryName}}</li>
                </ol>
            </div>
        </div>
    </div>
    </div>
</div>
<script>
    new Vue({
        el: '#app',
        data: {
            phone: "+371",
            countries: [],
            error: ""
        },
        methods: {
            resolveCountry: function () {
                if (this.timer) {
                    clearTimeout(this.timer);
                    this.timer = null;
                }
                this.timer = setTimeout(() => {
                    this.$http.post('/phone/country-code', {phoneNumber: this.phone}).then(response => {
                        this.countries = response.body.codes
                        this.error = ""
                    }, response => {
                        this.countries = []
                        this.error = response.body.message
                    });
                }, 500);
            }
        }
    })
</script>
</body>
</html>
